<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/assets/fonts/themify-icons/themify-icons.css">
    <title>Trang chủ</title>
</head>
<body>
    <div id="main">
        <div id="header">
            <div class="header">
                <div class="header-logo">
                    <img class="logoimg" src="./static/assets/logo.png" alt="">
                </div>
                <div class="header-content">
                    <div class="header-content-top">
                        <div class="header-content-top-left">
                            <h2 class="white">Đại học đà nẵng</h2>
                            <h2 style="color: #DA5B5B;">Trường Đại Học Sư Phạm Kỹ Thuật</h2>
                            <h3 class="white">Hệ thống quản lý văn bản việc ban hành văn bản</h3>
                        </div>
                        <div class="header-content-top-right">
                            <i class="ti-bell white"></i>
                            <span class="quantity-noti">10</span>
                        </div>
                    </div>
                    <div class="header-content-bottom">
                        <div class="header-content-bottom-nav">
                            <a class="color-nav" href="/hethong">Trang chủ</a>
                            <a class="white" href="#">Thông tin cá nhân</a>
                            <a class="white" href="#">Tạo văn bản</a>
                            <a class="white" href="#">Thống kê</a>
                        </div>
                        <div class="header-content-bottom-user">
                            <img src="./static/assets/icon_user.png" alt="">
                            <a class="btn-login white" href="">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="search">
            <div class="search-box">
                <i class="ti-search"></i>
                <input id="input-search" class="input-search" type="text" placeholder="Từ khoá tìm kiếm">
            </div>
        </div>
        <div id="content">
            <div class="content">
                <div class="left-content">
                    <div class="left-content-nav">
                        <div class="left-content-nav-title">
                            <h3 class="white">Menu</h3>
                        </div>
                        <div class="left-content-nav-item">
                            <a class="white" href=""><li class="white">Quản lý văn bản đi</li></a>
                            <a class="white" href=""><li class="white">Quản lý văn bản đến</li></a>
                            <a class="white" href=""><li class="white">Đăng ký văn bản đi</li></a>
                            <a class="white" href=""><li class="white">Xem lịch sử</li></a>
                            <a class="white" href=""><li class="white">Phân công xử lý</li></a>
                        </div>
                    </div>
                </div>
                <div class="right-content">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>